<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
		
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel I_ConvocatoriasNacionales search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_iConvocatoriasNacionales" data-fieldname="id_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_id_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales id_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_id_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$id_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$id_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END id_iConvocatoriasNacionales_fieldblock}
											
{BEGIN PersonaDNI_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaDNI_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaDNI_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="PersonaDNI_iConvocatoriasNacionales" data-fieldname="PersonaDNI_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaDNI_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales PersonaDNI_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaDNI_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$PersonaDNI_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaDNI_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END PersonaDNI_iConvocatoriasNacionales_fieldblock}
											
{BEGIN PersonaApellidoNombre_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaApellidoNombre_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaApellidoNombre_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="PersonaApellidoNombre_iConvocatoriasNacionales" data-fieldname="PersonaApellidoNombre_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaApellidoNombre_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales PersonaApellidoNombre_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaApellidoNombre_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$PersonaApellidoNombre_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaApellidoNombre_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END PersonaApellidoNombre_iConvocatoriasNacionales_fieldblock}
											
{BEGIN PersonaFechaNacimiento_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaFechaNacimiento_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaFechaNacimiento_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="PersonaFechaNacimiento_iConvocatoriasNacionales" data-fieldname="PersonaFechaNacimiento_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaFechaNacimiento_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales PersonaFechaNacimiento_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaFechaNacimiento_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$PersonaFechaNacimiento_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaFechaNacimiento_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END PersonaFechaNacimiento_iConvocatoriasNacionales_fieldblock}
											
{BEGIN PersonaProvinciaReside_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaProvinciaReside_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaProvinciaReside_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="PersonaProvinciaReside_iConvocatoriasNacionales" data-fieldname="PersonaProvinciaReside_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaProvinciaReside_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales PersonaProvinciaReside_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaProvinciaReside_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$PersonaProvinciaReside_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaProvinciaReside_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END PersonaProvinciaReside_iConvocatoriasNacionales_fieldblock}
											
{BEGIN Personaemail_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Personaemail_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Personaemail_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Personaemail_iConvocatoriasNacionales" data-fieldname="Personaemail_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_Personaemail_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales Personaemail_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_Personaemail_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$Personaemail_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$Personaemail_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END Personaemail_iConvocatoriasNacionales_fieldblock}
											
{BEGIN PersonaTelefonoContacto_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaTelefonoContacto_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaTelefonoContacto_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="PersonaTelefonoContacto_iConvocatoriasNacionales" data-fieldname="PersonaTelefonoContacto_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaTelefonoContacto_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales PersonaTelefonoContacto_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaTelefonoContacto_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$PersonaTelefonoContacto_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaTelefonoContacto_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END PersonaTelefonoContacto_iConvocatoriasNacionales_fieldblock}
											
{BEGIN PuestoTrabajoPostula_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PuestoTrabajoPostula_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PuestoTrabajoPostula_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="PuestoTrabajoPostula_iConvocatoriasNacionales" data-fieldname="PuestoTrabajoPostula_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_PuestoTrabajoPostula_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales PuestoTrabajoPostula_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_PuestoTrabajoPostula_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$PuestoTrabajoPostula_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$PuestoTrabajoPostula_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END PuestoTrabajoPostula_iConvocatoriasNacionales_fieldblock}
											
{BEGIN ResidenciaCompleta_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ResidenciaCompleta_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ResidenciaCompleta_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="ResidenciaCompleta_iConvocatoriasNacionales" data-fieldname="ResidenciaCompleta_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_ResidenciaCompleta_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales ResidenciaCompleta_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_ResidenciaCompleta_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$ResidenciaCompleta_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$ResidenciaCompleta_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END ResidenciaCompleta_iConvocatoriasNacionales_fieldblock}
											
{BEGIN ResidenciaEspecialidad_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ResidenciaEspecialidad_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ResidenciaEspecialidad_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="ResidenciaEspecialidad_iConvocatoriasNacionales" data-fieldname="ResidenciaEspecialidad_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_ResidenciaEspecialidad_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales ResidenciaEspecialidad_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_ResidenciaEspecialidad_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$ResidenciaEspecialidad_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$ResidenciaEspecialidad_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END ResidenciaEspecialidad_iConvocatoriasNacionales_fieldblock}
											
{BEGIN PersonaTituloEspecialista_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaTituloEspecialista_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaTituloEspecialista_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="PersonaTituloEspecialista_iConvocatoriasNacionales" data-fieldname="PersonaTituloEspecialista_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaTituloEspecialista_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales PersonaTituloEspecialista_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaTituloEspecialista_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$PersonaTituloEspecialista_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaTituloEspecialista_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END PersonaTituloEspecialista_iConvocatoriasNacionales_fieldblock}
											
{BEGIN PersonaEspecialidadCertificada_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaEspecialidadCertificada_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaEspecialidadCertificada_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="PersonaEspecialidadCertificada_iConvocatoriasNacionales" data-fieldname="PersonaEspecialidadCertificada_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaEspecialidadCertificada_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales PersonaEspecialidadCertificada_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaEspecialidadCertificada_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$PersonaEspecialidadCertificada_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaEspecialidadCertificada_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END PersonaEspecialidadCertificada_iConvocatoriasNacionales_fieldblock}
											
{BEGIN ConvocatoriaDifusion_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ConvocatoriaDifusion_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ConvocatoriaDifusion_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="ConvocatoriaDifusion_iConvocatoriasNacionales" data-fieldname="ConvocatoriaDifusion_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_ConvocatoriaDifusion_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales ConvocatoriaDifusion_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_ConvocatoriaDifusion_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$ConvocatoriaDifusion_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$ConvocatoriaDifusion_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END ConvocatoriaDifusion_iConvocatoriasNacionales_fieldblock}
											
{BEGIN PersonaCV_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaCV_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaCV_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="PersonaCV_iConvocatoriasNacionales" data-fieldname="PersonaCV_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaCV_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales PersonaCV_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaCV_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$PersonaCV_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaCV_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END PersonaCV_iConvocatoriasNacionales_fieldblock}
											
{BEGIN RegistroFechaHora_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RegistroFechaHora_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="RegistroFechaHora_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="RegistroFechaHora_iConvocatoriasNacionales" data-fieldname="RegistroFechaHora_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_RegistroFechaHora_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales RegistroFechaHora_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_RegistroFechaHora_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$RegistroFechaHora_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$RegistroFechaHora_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END RegistroFechaHora_iConvocatoriasNacionales_fieldblock}
											
{BEGIN TituloGrado_iConvocatoriasNacionales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TituloGrado_iConvocatoriasNacionales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="TituloGrado_iConvocatoriasNacionales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="TituloGrado_iConvocatoriasNacionales" data-fieldname="TituloGrado_iConvocatoriasNacionales" >


	<label class="r-search-label control-label" for="{$labelfor_TituloGrado_iConvocatoriasNacionales}">
		{$label I_ConvocatoriasNacionales TituloGrado_iConvocatoriasNacionales }	</label>
	<div class="r-search-option">
		{$searchtype_TituloGrado_iConvocatoriasNacionales}
	</div>
	<div class="r-search-field">
		{$TituloGrado_iConvocatoriasNacionales_editcontrol}	</div>
	<div class="r-search-field">
		{$TituloGrado_iConvocatoriasNacionales_editcontrol1}
	</div>
	
</div>

{END TituloGrado_iConvocatoriasNacionales_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
