<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
		
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel I_ConvocatoriasProvinciales search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_iConvocatoriasProvinciales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_iConvocatoriasProvinciales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_iConvocatoriasProvinciales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_iConvocatoriasProvinciales" data-fieldname="id_iConvocatoriasProvinciales" >


	<label class="r-search-label control-label" for="{$labelfor_id_iConvocatoriasProvinciales}">
		{$label I_ConvocatoriasProvinciales id_iConvocatoriasProvinciales }	</label>
	<div class="r-search-option">
		{$searchtype_id_iConvocatoriasProvinciales}
	</div>
	<div class="r-search-field">
		{$id_iConvocatoriasProvinciales_editcontrol}	</div>
	<div class="r-search-field">
		{$id_iConvocatoriasProvinciales_editcontrol1}
	</div>
	
</div>

{END id_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN PersonaDNI_iConvocatoriasProvinciales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaDNI_iConvocatoriasProvinciales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaDNI_iConvocatoriasProvinciales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="PersonaDNI_iConvocatoriasProvinciales" data-fieldname="PersonaDNI_iConvocatoriasProvinciales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaDNI_iConvocatoriasProvinciales}">
		{$label I_ConvocatoriasProvinciales PersonaDNI_iConvocatoriasProvinciales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaDNI_iConvocatoriasProvinciales}
	</div>
	<div class="r-search-field">
		{$PersonaDNI_iConvocatoriasProvinciales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaDNI_iConvocatoriasProvinciales_editcontrol1}
	</div>
	
</div>

{END PersonaDNI_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN PersonaApellidoNombre_iConvocatoriasProvinciales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaApellidoNombre_iConvocatoriasProvinciales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaApellidoNombre_iConvocatoriasProvinciales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="PersonaApellidoNombre_iConvocatoriasProvinciales" data-fieldname="PersonaApellidoNombre_iConvocatoriasProvinciales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaApellidoNombre_iConvocatoriasProvinciales}">
		{$label I_ConvocatoriasProvinciales PersonaApellidoNombre_iConvocatoriasProvinciales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaApellidoNombre_iConvocatoriasProvinciales}
	</div>
	<div class="r-search-field">
		{$PersonaApellidoNombre_iConvocatoriasProvinciales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaApellidoNombre_iConvocatoriasProvinciales_editcontrol1}
	</div>
	
</div>

{END PersonaApellidoNombre_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN PersonaFechaNacimiento_iConvocatoriasProvinciales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaFechaNacimiento_iConvocatoriasProvinciales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaFechaNacimiento_iConvocatoriasProvinciales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="PersonaFechaNacimiento_iConvocatoriasProvinciales" data-fieldname="PersonaFechaNacimiento_iConvocatoriasProvinciales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaFechaNacimiento_iConvocatoriasProvinciales}">
		{$label I_ConvocatoriasProvinciales PersonaFechaNacimiento_iConvocatoriasProvinciales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaFechaNacimiento_iConvocatoriasProvinciales}
	</div>
	<div class="r-search-field">
		{$PersonaFechaNacimiento_iConvocatoriasProvinciales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaFechaNacimiento_iConvocatoriasProvinciales_editcontrol1}
	</div>
	
</div>

{END PersonaFechaNacimiento_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN PersonaCiudadReside_iConvocatoriasProvinciales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaCiudadReside_iConvocatoriasProvinciales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaCiudadReside_iConvocatoriasProvinciales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="PersonaCiudadReside_iConvocatoriasProvinciales" data-fieldname="PersonaCiudadReside_iConvocatoriasProvinciales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaCiudadReside_iConvocatoriasProvinciales}">
		{$label I_ConvocatoriasProvinciales PersonaCiudadReside_iConvocatoriasProvinciales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaCiudadReside_iConvocatoriasProvinciales}
	</div>
	<div class="r-search-field">
		{$PersonaCiudadReside_iConvocatoriasProvinciales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaCiudadReside_iConvocatoriasProvinciales_editcontrol1}
	</div>
	
</div>

{END PersonaCiudadReside_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN Personaemail_iConvocatoriasProvinciales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Personaemail_iConvocatoriasProvinciales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Personaemail_iConvocatoriasProvinciales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Personaemail_iConvocatoriasProvinciales" data-fieldname="Personaemail_iConvocatoriasProvinciales" >


	<label class="r-search-label control-label" for="{$labelfor_Personaemail_iConvocatoriasProvinciales}">
		{$label I_ConvocatoriasProvinciales Personaemail_iConvocatoriasProvinciales }	</label>
	<div class="r-search-option">
		{$searchtype_Personaemail_iConvocatoriasProvinciales}
	</div>
	<div class="r-search-field">
		{$Personaemail_iConvocatoriasProvinciales_editcontrol}	</div>
	<div class="r-search-field">
		{$Personaemail_iConvocatoriasProvinciales_editcontrol1}
	</div>
	
</div>

{END Personaemail_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN PersonaTelefonoContacto_iConvocatoriasProvinciales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaTelefonoContacto_iConvocatoriasProvinciales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaTelefonoContacto_iConvocatoriasProvinciales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="PersonaTelefonoContacto_iConvocatoriasProvinciales" data-fieldname="PersonaTelefonoContacto_iConvocatoriasProvinciales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaTelefonoContacto_iConvocatoriasProvinciales}">
		{$label I_ConvocatoriasProvinciales PersonaTelefonoContacto_iConvocatoriasProvinciales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaTelefonoContacto_iConvocatoriasProvinciales}
	</div>
	<div class="r-search-field">
		{$PersonaTelefonoContacto_iConvocatoriasProvinciales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaTelefonoContacto_iConvocatoriasProvinciales_editcontrol1}
	</div>
	
</div>

{END PersonaTelefonoContacto_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN PuestoTrabajoPostula_iConvocatoriasProvinciales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PuestoTrabajoPostula_iConvocatoriasProvinciales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PuestoTrabajoPostula_iConvocatoriasProvinciales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="PuestoTrabajoPostula_iConvocatoriasProvinciales" data-fieldname="PuestoTrabajoPostula_iConvocatoriasProvinciales" >


	<label class="r-search-label control-label" for="{$labelfor_PuestoTrabajoPostula_iConvocatoriasProvinciales}">
		{$label I_ConvocatoriasProvinciales PuestoTrabajoPostula_iConvocatoriasProvinciales }	</label>
	<div class="r-search-option">
		{$searchtype_PuestoTrabajoPostula_iConvocatoriasProvinciales}
	</div>
	<div class="r-search-field">
		{$PuestoTrabajoPostula_iConvocatoriasProvinciales_editcontrol}	</div>
	<div class="r-search-field">
		{$PuestoTrabajoPostula_iConvocatoriasProvinciales_editcontrol1}
	</div>
	
</div>

{END PuestoTrabajoPostula_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN ConvocatoriaDifusion_iConvocatoriasProvinciales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ConvocatoriaDifusion_iConvocatoriasProvinciales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ConvocatoriaDifusion_iConvocatoriasProvinciales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="ConvocatoriaDifusion_iConvocatoriasProvinciales" data-fieldname="ConvocatoriaDifusion_iConvocatoriasProvinciales" >


	<label class="r-search-label control-label" for="{$labelfor_ConvocatoriaDifusion_iConvocatoriasProvinciales}">
		{$label I_ConvocatoriasProvinciales ConvocatoriaDifusion_iConvocatoriasProvinciales }	</label>
	<div class="r-search-option">
		{$searchtype_ConvocatoriaDifusion_iConvocatoriasProvinciales}
	</div>
	<div class="r-search-field">
		{$ConvocatoriaDifusion_iConvocatoriasProvinciales_editcontrol}	</div>
	<div class="r-search-field">
		{$ConvocatoriaDifusion_iConvocatoriasProvinciales_editcontrol1}
	</div>
	
</div>

{END ConvocatoriaDifusion_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN PersonaCV_iConvocatoriasProvinciales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaCV_iConvocatoriasProvinciales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PersonaCV_iConvocatoriasProvinciales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="PersonaCV_iConvocatoriasProvinciales" data-fieldname="PersonaCV_iConvocatoriasProvinciales" >


	<label class="r-search-label control-label" for="{$labelfor_PersonaCV_iConvocatoriasProvinciales}">
		{$label I_ConvocatoriasProvinciales PersonaCV_iConvocatoriasProvinciales }	</label>
	<div class="r-search-option">
		{$searchtype_PersonaCV_iConvocatoriasProvinciales}
	</div>
	<div class="r-search-field">
		{$PersonaCV_iConvocatoriasProvinciales_editcontrol}	</div>
	<div class="r-search-field">
		{$PersonaCV_iConvocatoriasProvinciales_editcontrol1}
	</div>
	
</div>

{END PersonaCV_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN RegistroFechaHora_iConvocatoriasProvinciales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RegistroFechaHora_iConvocatoriasProvinciales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="RegistroFechaHora_iConvocatoriasProvinciales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="RegistroFechaHora_iConvocatoriasProvinciales" data-fieldname="RegistroFechaHora_iConvocatoriasProvinciales" >


	<label class="r-search-label control-label" for="{$labelfor_RegistroFechaHora_iConvocatoriasProvinciales}">
		{$label I_ConvocatoriasProvinciales RegistroFechaHora_iConvocatoriasProvinciales }	</label>
	<div class="r-search-option">
		{$searchtype_RegistroFechaHora_iConvocatoriasProvinciales}
	</div>
	<div class="r-search-field">
		{$RegistroFechaHora_iConvocatoriasProvinciales_editcontrol}	</div>
	<div class="r-search-field">
		{$RegistroFechaHora_iConvocatoriasProvinciales_editcontrol1}
	</div>
	
</div>

{END RegistroFechaHora_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN Titulo_iConvocatoriasProvinciales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Titulo_iConvocatoriasProvinciales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Titulo_iConvocatoriasProvinciales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="Titulo_iConvocatoriasProvinciales" data-fieldname="Titulo_iConvocatoriasProvinciales" >


	<label class="r-search-label control-label" for="{$labelfor_Titulo_iConvocatoriasProvinciales}">
		{$label I_ConvocatoriasProvinciales Titulo_iConvocatoriasProvinciales }	</label>
	<div class="r-search-option">
		{$searchtype_Titulo_iConvocatoriasProvinciales}
	</div>
	<div class="r-search-field">
		{$Titulo_iConvocatoriasProvinciales_editcontrol}	</div>
	<div class="r-search-field">
		{$Titulo_iConvocatoriasProvinciales_editcontrol1}
	</div>
	
</div>

{END Titulo_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN AniosResidencia_iConvocatoriasProvinciales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_AniosResidencia_iConvocatoriasProvinciales}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="AniosResidencia_iConvocatoriasProvinciales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="AniosResidencia_iConvocatoriasProvinciales" data-fieldname="AniosResidencia_iConvocatoriasProvinciales" >


	<label class="r-search-label control-label" for="{$labelfor_AniosResidencia_iConvocatoriasProvinciales}">
		{$label I_ConvocatoriasProvinciales AniosResidencia_iConvocatoriasProvinciales }	</label>
	<div class="r-search-option">
		{$searchtype_AniosResidencia_iConvocatoriasProvinciales}
	</div>
	<div class="r-search-field">
		{$AniosResidencia_iConvocatoriasProvinciales_editcontrol}	</div>
	<div class="r-search-field">
		{$AniosResidencia_iConvocatoriasProvinciales_editcontrol1}
	</div>
	
</div>

{END AniosResidencia_iConvocatoriasProvinciales_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
