<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
		
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel List_ConvocatoriasProvinciales view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_iConvocatoriasProvinciales_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_iConvocatoriasProvinciales}  r-vertical-field" data-fieldname="id_iConvocatoriasProvinciales" data-signal-error-for="id_iConvocatoriasProvinciales{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="id_iConvocatoriasProvinciales" data-fieldname="id_iConvocatoriasProvinciales" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_id_iConvocatoriasProvinciales}">
		
		{BEGIN id_iConvocatoriasProvinciales_label}{$label List_ConvocatoriasProvinciales id_iConvocatoriasProvinciales }{END id_iConvocatoriasProvinciales_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$id_iConvocatoriasProvinciales_value}	</div>

		
</div>


{END id_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN PersonaDNI_iConvocatoriasProvinciales_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaDNI_iConvocatoriasProvinciales}  r-vertical-field" data-fieldname="PersonaDNI_iConvocatoriasProvinciales" data-signal-error-for="PersonaDNI_iConvocatoriasProvinciales{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="PersonaDNI_iConvocatoriasProvinciales" data-fieldname="PersonaDNI_iConvocatoriasProvinciales" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_PersonaDNI_iConvocatoriasProvinciales}">
		
		{BEGIN PersonaDNI_iConvocatoriasProvinciales_label}{$label List_ConvocatoriasProvinciales PersonaDNI_iConvocatoriasProvinciales }{END PersonaDNI_iConvocatoriasProvinciales_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$PersonaDNI_iConvocatoriasProvinciales_value}	</div>

		
</div>


{END PersonaDNI_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN PersonaApellidoNombre_iConvocatoriasProvinciales_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaApellidoNombre_iConvocatoriasProvinciales}  r-vertical-field" data-fieldname="PersonaApellidoNombre_iConvocatoriasProvinciales" data-signal-error-for="PersonaApellidoNombre_iConvocatoriasProvinciales{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="PersonaApellidoNombre_iConvocatoriasProvinciales" data-fieldname="PersonaApellidoNombre_iConvocatoriasProvinciales" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_PersonaApellidoNombre_iConvocatoriasProvinciales}">
		
		{BEGIN PersonaApellidoNombre_iConvocatoriasProvinciales_label}{$label List_ConvocatoriasProvinciales PersonaApellidoNombre_iConvocatoriasProvinciales }{END PersonaApellidoNombre_iConvocatoriasProvinciales_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$PersonaApellidoNombre_iConvocatoriasProvinciales_value}	</div>

		
</div>


{END PersonaApellidoNombre_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN PersonaFechaNacimiento_iConvocatoriasProvinciales_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaFechaNacimiento_iConvocatoriasProvinciales}  r-vertical-field" data-fieldname="PersonaFechaNacimiento_iConvocatoriasProvinciales" data-signal-error-for="PersonaFechaNacimiento_iConvocatoriasProvinciales{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="PersonaFechaNacimiento_iConvocatoriasProvinciales" data-fieldname="PersonaFechaNacimiento_iConvocatoriasProvinciales" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_PersonaFechaNacimiento_iConvocatoriasProvinciales}">
		
		{BEGIN PersonaFechaNacimiento_iConvocatoriasProvinciales_label}{$label List_ConvocatoriasProvinciales PersonaFechaNacimiento_iConvocatoriasProvinciales }{END PersonaFechaNacimiento_iConvocatoriasProvinciales_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$PersonaFechaNacimiento_iConvocatoriasProvinciales_value}	</div>

		
</div>


{END PersonaFechaNacimiento_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN PersonaCiudadReside_iConvocatoriasProvinciales_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaCiudadReside_iConvocatoriasProvinciales}  r-vertical-field" data-fieldname="PersonaCiudadReside_iConvocatoriasProvinciales" data-signal-error-for="PersonaCiudadReside_iConvocatoriasProvinciales{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="PersonaCiudadReside_iConvocatoriasProvinciales" data-fieldname="PersonaCiudadReside_iConvocatoriasProvinciales" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_PersonaCiudadReside_iConvocatoriasProvinciales}">
		
		{BEGIN PersonaCiudadReside_iConvocatoriasProvinciales_label}{$label List_ConvocatoriasProvinciales PersonaCiudadReside_iConvocatoriasProvinciales }{END PersonaCiudadReside_iConvocatoriasProvinciales_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$PersonaCiudadReside_iConvocatoriasProvinciales_value}	</div>

		
</div>


{END PersonaCiudadReside_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN Personaemail_iConvocatoriasProvinciales_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Personaemail_iConvocatoriasProvinciales}  r-vertical-field" data-fieldname="Personaemail_iConvocatoriasProvinciales" data-signal-error-for="Personaemail_iConvocatoriasProvinciales{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Personaemail_iConvocatoriasProvinciales" data-fieldname="Personaemail_iConvocatoriasProvinciales" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Personaemail_iConvocatoriasProvinciales}">
		
		{BEGIN Personaemail_iConvocatoriasProvinciales_label}{$label List_ConvocatoriasProvinciales Personaemail_iConvocatoriasProvinciales }{END Personaemail_iConvocatoriasProvinciales_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Personaemail_iConvocatoriasProvinciales_value}	</div>

		
</div>


{END Personaemail_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN PersonaTelefonoContacto_iConvocatoriasProvinciales_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaTelefonoContacto_iConvocatoriasProvinciales}  r-vertical-field" data-fieldname="PersonaTelefonoContacto_iConvocatoriasProvinciales" data-signal-error-for="PersonaTelefonoContacto_iConvocatoriasProvinciales{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="PersonaTelefonoContacto_iConvocatoriasProvinciales" data-fieldname="PersonaTelefonoContacto_iConvocatoriasProvinciales" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_PersonaTelefonoContacto_iConvocatoriasProvinciales}">
		
		{BEGIN PersonaTelefonoContacto_iConvocatoriasProvinciales_label}{$label List_ConvocatoriasProvinciales PersonaTelefonoContacto_iConvocatoriasProvinciales }{END PersonaTelefonoContacto_iConvocatoriasProvinciales_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$PersonaTelefonoContacto_iConvocatoriasProvinciales_value}	</div>

		
</div>


{END PersonaTelefonoContacto_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN PersonaCV_iConvocatoriasProvinciales_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PersonaCV_iConvocatoriasProvinciales}  r-vertical-field" data-fieldname="PersonaCV_iConvocatoriasProvinciales" data-signal-error-for="PersonaCV_iConvocatoriasProvinciales{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="PersonaCV_iConvocatoriasProvinciales" data-fieldname="PersonaCV_iConvocatoriasProvinciales" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_PersonaCV_iConvocatoriasProvinciales}">
		
		{BEGIN PersonaCV_iConvocatoriasProvinciales_label}{$label List_ConvocatoriasProvinciales PersonaCV_iConvocatoriasProvinciales }{END PersonaCV_iConvocatoriasProvinciales_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$PersonaCV_iConvocatoriasProvinciales_value}	</div>

		
</div>


{END PersonaCV_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN RegistroFechaHora_iConvocatoriasProvinciales_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RegistroFechaHora_iConvocatoriasProvinciales}  r-vertical-field" data-fieldname="RegistroFechaHora_iConvocatoriasProvinciales" data-signal-error-for="RegistroFechaHora_iConvocatoriasProvinciales{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="RegistroFechaHora_iConvocatoriasProvinciales" data-fieldname="RegistroFechaHora_iConvocatoriasProvinciales" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_RegistroFechaHora_iConvocatoriasProvinciales}">
		
		{BEGIN RegistroFechaHora_iConvocatoriasProvinciales_label}{$label List_ConvocatoriasProvinciales RegistroFechaHora_iConvocatoriasProvinciales }{END RegistroFechaHora_iConvocatoriasProvinciales_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$RegistroFechaHora_iConvocatoriasProvinciales_value}	</div>

		
</div>


{END RegistroFechaHora_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN Titulo_iConvocatoriasProvinciales_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Titulo_iConvocatoriasProvinciales}  r-vertical-field" data-fieldname="Titulo_iConvocatoriasProvinciales" data-signal-error-for="Titulo_iConvocatoriasProvinciales{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="Titulo_iConvocatoriasProvinciales" data-fieldname="Titulo_iConvocatoriasProvinciales" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Titulo_iConvocatoriasProvinciales}">
		
		{BEGIN Titulo_iConvocatoriasProvinciales_label}{$label List_ConvocatoriasProvinciales Titulo_iConvocatoriasProvinciales }{END Titulo_iConvocatoriasProvinciales_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Titulo_iConvocatoriasProvinciales_value}	</div>

		
</div>


{END Titulo_iConvocatoriasProvinciales_fieldblock}
											
{BEGIN AniosResidencia_iConvocatoriasProvinciales_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_AniosResidencia_iConvocatoriasProvinciales}  r-vertical-field" data-fieldname="AniosResidencia_iConvocatoriasProvinciales" data-signal-error-for="AniosResidencia_iConvocatoriasProvinciales{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="AniosResidencia_iConvocatoriasProvinciales" data-fieldname="AniosResidencia_iConvocatoriasProvinciales" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_AniosResidencia_iConvocatoriasProvinciales}">
		
		{BEGIN AniosResidencia_iConvocatoriasProvinciales_label}{$label List_ConvocatoriasProvinciales AniosResidencia_iConvocatoriasProvinciales }{END AniosResidencia_iConvocatoriasProvinciales_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$AniosResidencia_iConvocatoriasProvinciales_value}	</div>

		
</div>


{END AniosResidencia_iConvocatoriasProvinciales_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	">
	 
		<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
	 
		<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
