<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
		
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Mails_para_notificar search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN idI_ConvNacMailsNotif_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idI_ConvNacMailsNotif}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idI_ConvNacMailsNotif{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="idI_ConvNacMailsNotif" data-fieldname="idI_ConvNacMailsNotif" >


	<label class="r-search-label control-label" for="{$labelfor_idI_ConvNacMailsNotif}">
		{$label Mails_para_notificar idI_ConvNacMailsNotif }	</label>
	<div class="r-search-option">
		{$searchtype_idI_ConvNacMailsNotif}
	</div>
	<div class="r-search-field">
		{$idI_ConvNacMailsNotif_editcontrol}	</div>
	<div class="r-search-field">
		{$idI_ConvNacMailsNotif_editcontrol1}
	</div>
	
</div>

{END idI_ConvNacMailsNotif_fieldblock}
											
{BEGIN email_IConvNacMailsNotif_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email_IConvNacMailsNotif}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="email_IConvNacMailsNotif{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="email_IConvNacMailsNotif" data-fieldname="email_IConvNacMailsNotif" >


	<label class="r-search-label control-label" for="{$labelfor_email_IConvNacMailsNotif}">
		{$label Mails_para_notificar email_IConvNacMailsNotif }	</label>
	<div class="r-search-option">
		{$searchtype_email_IConvNacMailsNotif}
	</div>
	<div class="r-search-field">
		{$email_IConvNacMailsNotif_editcontrol}	</div>
	<div class="r-search-field">
		{$email_IConvNacMailsNotif_editcontrol1}
	</div>
	
</div>

{END email_IConvNacMailsNotif_fieldblock}
											
{BEGIN Activo_IConvNacMailsNotif_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Activo_IConvNacMailsNotif}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Activo_IConvNacMailsNotif{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Activo_IConvNacMailsNotif" data-fieldname="Activo_IConvNacMailsNotif" >


	<label class="r-search-label control-label" for="{$labelfor_Activo_IConvNacMailsNotif}">
		{$label Mails_para_notificar Activo_IConvNacMailsNotif }	</label>
	<div class="r-search-option">
		{$searchtype_Activo_IConvNacMailsNotif}
	</div>
	<div class="r-search-field">
		{$Activo_IConvNacMailsNotif_editcontrol}	</div>
	<div class="r-search-field">
		{$Activo_IConvNacMailsNotif_editcontrol1}
	</div>
	
</div>

{END Activo_IConvNacMailsNotif_fieldblock}
											
{BEGIN RegistroFecha_IConvNacMailsNotif_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RegistroFecha_IConvNacMailsNotif}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="RegistroFecha_IConvNacMailsNotif{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="RegistroFecha_IConvNacMailsNotif" data-fieldname="RegistroFecha_IConvNacMailsNotif" >


	<label class="r-search-label control-label" for="{$labelfor_RegistroFecha_IConvNacMailsNotif}">
		{$label Mails_para_notificar RegistroFecha_IConvNacMailsNotif }	</label>
	<div class="r-search-option">
		{$searchtype_RegistroFecha_IConvNacMailsNotif}
	</div>
	<div class="r-search-field">
		{$RegistroFecha_IConvNacMailsNotif_editcontrol}	</div>
	<div class="r-search-field">
		{$RegistroFecha_IConvNacMailsNotif_editcontrol1}
	</div>
	
</div>

{END RegistroFecha_IConvNacMailsNotif_fieldblock}
											
{BEGIN RegistroHora_IConvNacMailsNotif_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RegistroHora_IConvNacMailsNotif}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="RegistroHora_IConvNacMailsNotif{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="RegistroHora_IConvNacMailsNotif" data-fieldname="RegistroHora_IConvNacMailsNotif" >


	<label class="r-search-label control-label" for="{$labelfor_RegistroHora_IConvNacMailsNotif}">
		{$label Mails_para_notificar RegistroHora_IConvNacMailsNotif }	</label>
	<div class="r-search-option">
		{$searchtype_RegistroHora_IConvNacMailsNotif}
	</div>
	<div class="r-search-field">
		{$RegistroHora_IConvNacMailsNotif_editcontrol}	</div>
	<div class="r-search-field">
		{$RegistroHora_IConvNacMailsNotif_editcontrol1}
	</div>
	
</div>

{END RegistroHora_IConvNacMailsNotif_fieldblock}
											
{BEGIN RegistroUsr_IConvNacMailsNotif_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RegistroUsr_IConvNacMailsNotif}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="RegistroUsr_IConvNacMailsNotif{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="RegistroUsr_IConvNacMailsNotif" data-fieldname="RegistroUsr_IConvNacMailsNotif" >


	<label class="r-search-label control-label" for="{$labelfor_RegistroUsr_IConvNacMailsNotif}">
		{$label Mails_para_notificar RegistroUsr_IConvNacMailsNotif }	</label>
	<div class="r-search-option">
		{$searchtype_RegistroUsr_IConvNacMailsNotif}
	</div>
	<div class="r-search-field">
		{$RegistroUsr_IConvNacMailsNotif_editcontrol}	</div>
	<div class="r-search-field">
		{$RegistroUsr_IConvNacMailsNotif_editcontrol1}
	</div>
	
</div>

{END RegistroUsr_IConvNacMailsNotif_fieldblock}
											
{BEGIN idSistema_iConvNacMailsNotif_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idSistema_iConvNacMailsNotif}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idSistema_iConvNacMailsNotif{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="idSistema_iConvNacMailsNotif" data-fieldname="idSistema_iConvNacMailsNotif" >


	<label class="r-search-label control-label" for="{$labelfor_idSistema_iConvNacMailsNotif}">
		{$label Mails_para_notificar idSistema_iConvNacMailsNotif }	</label>
	<div class="r-search-option">
		{$searchtype_idSistema_iConvNacMailsNotif}
	</div>
	<div class="r-search-field">
		{$idSistema_iConvNacMailsNotif_editcontrol}	</div>
	<div class="r-search-field">
		{$idSistema_iConvNacMailsNotif_editcontrol1}
	</div>
	
</div>

{END idSistema_iConvNacMailsNotif_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
